@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.dot{
    z-index: 100;
}
.dot:hover{
    width:56px;
    height: 56px;
    background-color: white;
    cursor: pointer;
}
.dotsm{
    z-index: 103;
    position: relative;
    left:210px;
    bottom:180px;
    width:80vw;
    top:114px;
    position: absolute;
}
.dotsb{
    z-index: 104;
    position: relative;
    left:1090px;
    bottom:180px;
    width:400px;
    top:114px;
    position: absolute;
}
.circle{
    position: relative;
    left:390px;
    bottom:180px;
    width:40vw;
    z-index: 100;
}
.textCircle{
    font-family: PT Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}
.nameData{
    font-family: PT Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}
@media (max-width: 321px) {
    .mainDiv{
        display: none;
    }
    
}